.title-class{
  text-align: center;
  color: #662d91;
}

.invisible{
  color: white;
}

body {
  text-align: center;
  font-family: Tahoma;
  font-size: 20px;
  color: black;
}

.topnav {
  overflow: hidden;
  background-color: #CBC3E3;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #957DAD;
  color: black;
}

.topnav a.active {
  background-color: #F8F8F8;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  margin: 15px;
}

.box {
  background-color: #CBC3E3;
  border: 15px #CBC3E3;
  padding: 35px;
  flex: 1 1 calc(20% - 40px); /* five boxes per row with gap accounted for */
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.school-image {
      max-width: 100%;
      height: 200px;
      border-radius: 10px;
      margin-bottom: 15px;
      object-fit: cover;
}
    }

/* for home page */
.containerHome {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.position {
  opacity: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



.text {
  background-color: #fff;
  color: black;
  font-size: 20px;
  padding: 16px 32px;
}

.school-info {
      text-align: center;
}

  select {
    font-size: 20px;
    font-family: Tahoma;
  }

  option {
    font-size: 20px; 
    font-family: Tahoma;
  }

  .submit-button {
    font-size: 20px; 
    padding: 10px 20px;
    color: black;
    font-family: Tahoma;
    background-color: #CBC3E3;
    border-radius: 10px;
    border: none;
  }

.submit-button:hover {
  background-color: #957DAD;
  color: black;
}

.submit-button.active {
  background-color: #F8F8F8;
  color: black;
}

@import compass

$font-stack-safe: Tahoma
$font-stack-main: "Tahoma", $font-stack-safe
$font-stack-highlight: "Tahoma", $font-stack-safe

$color-background: rgb(26, 26, 26)
$color-highlight: rgb(175, 225, 250)
$color-highlight-light: lighten($color-highlight, 10%)
$color-highlight-dark: darken($color-highlight, 10%)

$color-foreground: invert($color-background)
  
$map-dot-size: 40px

$transition-time: 0.25s
  
html
  background: $color-background
  color: $color-foreground
  text-align: center
  font-family: $font-stack-main
  
body
  max-width: 1200px
  margin: 20px auto
  padding: 0 100px
  overflow-x: hidden

.description
  max-width: 600px
  margin: 0 auto
  color: transparentize($color-foreground, 0.3)
  
div, img, footer
  position: relative
  @include box-sizing(border-box)

h1, h2, h3, h4, h5, h6
  margin-bottom: 20px
  text-transform: uppercase
  font-family: $font-stack-highlight
  font-weight: 300

h1
  font-size: 36pt

h2
  font-size: 24pt

h3
  font-size: 18pt

h4
  font-size: 16pt

h5
  font-size: 14pt

h6
  font-size: 12pt

p
  font-size: 12pt
  margin-bottom: 12pt

strong
  font-weight: 900
  font-family: $font-stack-highlight
  color: $color-foreground
    
a
  @include transition(color $transition-time ease-in-out)
  font-family: $font-stack-highlight
  text-transform: uppercase
  text-decoration: none
  color: $color-highlight-light
  &:visited
    color: $color-highlight-light
  li.active &,
  &:hover,
  &:active
    color: $color-foreground
  
.centered
  position: absolute
  top: 50%
  left: 50%
  @include translate(-50%, -50%)

.centered-y
  position: absolute
  width: 100%
  top: 50%
  @include translateY(-50%)
  
.distribution-map
  position: relative
  width: 100%
  padding: 20px
  @include box-sizing(border-box)
  margin: 0 auto
  >img
    width: 100%
    position: relative
    margin: 0
    padding: 0
  .map-point
    cursor: pointer
    outline: none
    z-index: 0
    position: absolute
    width: $map-dot-size
    height: $map-dot-size
    @include border-radius($map-dot-size/2)
    @include opacity(0.8)
    @include translate(-50%, -50%)
    @include transition(opacity $transition-time ease-in-out $transition-time, width $transition-time ease-in-out $transition-time, height $transition-time ease-in-out $transition-time, z-index $transition-time ease-in-out $transition-time)
    background: transparentize($color-background, 0.15)
    border: $map-dot-size/8 solid $color-highlight-dark
    .content
      @include opacity(0)
      @include transition(opacity $transition-time ease-in-out)
      width: 100%
      height: 100%
      left: 50%
      @include translateX(-50%)
      overflow: overlay
    &:active, &:focus
      //Deal with Firefox :active styling
      margin: 0
      padding: 0
      @include opacity(1)
      width: 300px
      height: 220px
      color: $color-foreground
      z-index: 1
      @include transition(opacity $transition-time ease-in-out, width $transition-time ease-in-out, height $transition-time ease-in-out)
      .content
        @include opacity(1)
        @include transition(opacity $transition-time ease-in-out $transition-time, height 0 ease-in-out $transition-time, overflow 0 ease-in-out $transition-time)
        overflow: hidden
        a:hover, a:active
          color: $color-highlight
