<head>
  <link rel="stylesheet" href="/static/aimee-test.css">

  <script src="/static/aimee-test.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Tahoma;}

</style>
</head>
<body>

<h2 class="title-class" id="title">
CollegeFind
</h2>
<p>Explore the top 50 liberal arts colleges!</p>

<div class="tab">
   <button class="tablinks" onclick="openTab(event, 'Home')">Home</button>
   <button class="tablinks" onclick="openTab(event, 'Ranking')">Ranking</button>
   <button class="tablinks" onclick="openTab(event, 'Compare')">Compare</button>
   <button class="tablinks" onclick="openTab(event, 'Estimate Your Financial Aid')">Estimate Your Financial Aid</button>
   <button class="tablinks" onclick="openTab(event, 'Popular Major')">Popular Major</button>
</div>

<div id="Home" class="tabcontent">
   <h3>Home</h3>
   <p>Based on the data proved by the U.S. News Report, we have created a website exploring the top 50 liberal arts schools. Thank you!</p>
</div>

<div id="Ranking" class="tabcontent">
  <h3><center>Rankings (according to U.S. News Report)</center></h3>
 
     <p> Filter by: </p>
        <select name="rate" id="rate">
           <option value="null">--</option>
           <option value="acceptrate">Acceptance Rate</option>
           <option value="gradrate">Graduation Rate</option>
           <option value="tuition">Tuition Cost</option>
        </select>
     <br>
     
     <p>Sort by:</p>
        <select name="low-high" id="low-high">
           <option value="null">--</option>
           <option value="low">Lowest to Highest</option>
           <option value="high">Highest to Lowest</option>
        </select>
     <br><br>
     <button onclick="getInput('rate', 'low-high')">Submit</button>
     <br>
  </div>
  

<div id="Compare" class="tabcontent">
<h3 style="text-align: center;">Compare</h3>
<p style="text-align: center;">Compare two schools.</p>
</div>

<div id="Estimate Your Financial Aid" class="tabcontent">
   <h3>Calculate Possible Financial Aid</h3>
   <p>Based on the data collected by ___, who recorded past student tuitions. No guareentee :)</p>
     
     <p> My household income is: </p>
     <select name="income" id="income" onchange="updateFinancialAid()">
           <option value="null">--</option>
           <option value="f0to30grand">less than 30k</option>
           <option value="f30to48grand">30k to 48k</option>
           <option value="f48to75grand">48k to 75k</option>
           <option value="f75to110grand">75k to 110k</option>
           <option value="f110grandup">more than 110k</option>
        </select>
             <p style="text-align: center;">You selected this income from the Drop Down: <b id="incomeText"> ____ </b></p>
     <br>
     
     <p>The college I am interested in is:</p>
        <select id="colleges" onchange="updateFinancialAid()">
             {{DropdownOptions|safe}}
        </select>
        
      <p style="text-align: center;">You selected this income from the Drop Down: <b id="collegeText"> ____ </b></p>
     <br><br>
  <b><button onclick="submit()">Submit</button></b>    <br>
     </div>
     
<div id="Popular Major" class="tabcontent">
<h3>Most Popular Major at Every College</h3>
   <p>Which colleges' most popular major fits with your desired major?</p>
     <p> The major I am interested in is: </p>
        <select name="major" id="major" onchange="updateMajor()">
           <option value="null">--</option>
           <option value="Biology">Biology</option>           
           <option value="Business">Business</option>
           <option value="Chemistry">Chemistry</option>
           <option value="Computer Science">Computer Science</option>
           <option value="Economics">Economics</option>
           <option value="English">English</option>
           <option value="Engineering">Engineering</option>
           <option value="Mathematics">Mathematics</option>
           <option value="Multidisciplinary">Multidisciplinary</option>
           <option value="Music">Music</option>
           <option value="Political Science">Political Science</option>
           <option value="Psychology">Psychology</option>
           
        </select>
               <p style="text-align: center;">You selected this major from the Drop Down: <b id="majorText"> ____ </b></p>

     <br><br>
    
     <b><button onclick="submitMajor()">Submit</button></b>
     <br>
     </div>

</body>
