<head>
  <link rel="stylesheet" href="/static/tab-test.css">

  <script src="/static/compare.js"></script>
</head>

<h2 class="title-class" id="title">
College Comparison
</h2>
<p>Down below are some basic school stats</p>
  {% if stats %}
      <table>
          <thead>
               <tr>
                  <th>College Name</th>
                  <th>State of School</th>
                  <th>Acceptance Rate</th>
                  <th>Graduation Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat[1] }}</td> 
                        <td>{{ stat[0] }}</td> 
                        <td>{{ stat[3] }}</td> 
                        <td>{{ stat[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No data available for the selected colleges.</p>

              <p class="center-para" style="text-align: center;">Select a college 1 here:<select id="college1" onchange="updateCollege()">option>{{DropdownOptions|safe}}</select>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                Select college 2 here:<select id="college2" onchange="updateCollege()">{{DropdownOptions|safe}}</select>
              </p>
              <p class="center-para" style="text-align: center;">You selected this college from the Drop Down: <b id="college1Show">   </b></p>
              <p class="center-para" style="text-align: center;">You selected this college from the Drop Down: <b id="college2Show">   </b></p>
              <p class="center-para" style="text-align: center;"><b>&nbsp;<button onclick="go()">GO</button></b></p>
    {% endif %}
</body>
