<head>
  <link rel="stylesheet" href="/static/tab-test.css">

  <script src="/static/compare.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Tahoma;}

</style>
</head>
<body>

<h2 class="title-class" id="title">
CollegeFind
</h2>
<p>Explore the top 50 liberal arts colleges</p>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Home')">Home</button>
  <button class="tablinks" onclick="openTab(event, 'Ranking')">Ranking</button>
  <button class="tablinks" onclick="openTab(event, 'Compare')">Compare</button>
</div>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is the capital city of England.</p>
</div>

<div id="Ranking" class="tabcontent">
  <h3><center>Rankings (according to U.S. News Report)</center></h3>
  <div class="dropdown" onmouseover="dropDownFunction('rankingDropdown')" onmouseout="closeDropDownFunction('rankingDropdown')">
  <button class="dropbtn">Filter by</button>
  <div id="rankingDropdown" class="dropdown-content">
    <button onclick="filterBy('acceptrate', 'max')"><a>Acceptance Rate (High)</a></button>
    <button onclick="filterBy('acceptrate', 'min')"><a>Acceptance Rate (Low)</a></button>
    <button onclick="filterBy('gradrate', 'max')"><a>Graduation Rate (High)</a></button>
    <button onclick="filterBy('gradrate', 'min')"><a>Graduation Rate (Low)</a></button>
    <button onclick="filterBy('gradrate', 'max')"><a>Tuition (High)</a></button>
    <button onclick="filterBy('gradrate', 'min')"><a>Tuition (Low)</a></button>
  </div>
  </div> 
  
  <div class="dropdown" onmouseover="dropDownFunction('rankingDropdown')" onmouseout="closeDropDownFunction('rankingDropdown')">
  
  <button class="dropbtn">Estimate my Financial Aid</button>
  <div id="moneyDropdown" class="dropdown-content">
    <p>
 My household income is:
    </p>
  <select name="cars" id="cars">
    <option value="null">--</option>
    <option value="0">less than 30k</option>
    <option value="30">30k to 48k</option>
    <option value="48">48k to 75k</option>
    <option value="75">75k to 110k</option>
    <option value="110">more than 110k</option>
  </select>
  <br> <br>
  The college I am interested in is: <br>
  <div class="dropdown">
  <div id="collegeDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a href="#Amherst College	">Amherst College</a>
    <a href="#base">Base</a>
    <a href="#blog">Blog</a>
  </div>
  <br>
</div>
  <input type="submit" value="Submit">
</div>
</div>
</div>

<div id="Compare" class="tabcontent">
  <h3>Compare</h3>
  <p>Compare is the capital of Japan.</p>
<!--   <div class="dropdown1" onmouseover="dropDownFunction('compareDropdown')" onmouseout="closeDropDownFunction('compareDropdown')"> -->
  <p class ="center-para">
  Select a college here:
<select id="college_name" onchange="updateCollege()">
    {{DropdownOptions|safe}}
</select>
  </p>
   
</body>
