<head>
  <link rel="stylesheet" href="/static/tab-test.css">

  <script src="/static/compare.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Tahoma;}

</style>
</head>
<body>

<h2 class="title-class" id="title">
CollegeFind
</h2>
<p>Explore the top 50 liberal arts colleges</p>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Home')">Home</button>
  <button class="tablinks" onclick="openTab(event, 'Ranking')">Ranking</button>
  <button class="tablinks" onclick="openTab(event, 'Compare')">Compare</button>
</div>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is the capital city of England.</p>
</div>

<div id="Ranking" class="tabcontent">
  <h3>Ranking</h3>
  <p>Ranking is the capital of France.</p> 
</div>
  
<div id="Compare" class="tabcontent">
<h3 style="text-align: center;">Compare</h3>
<p style="text-align: center;">Compare two schools.</p>
  


<p class="center-para" style="text-align: center;">Select a college 1 here:<select id="college1" onchange="updateCollege()">{{DropdownOptions|safe}}</select>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  Select college 2 here:<select id="college2" onchange="updateCollege()">{{DropdownOptions|safe}}</select></p>
<p class="center-para" style="text-align: center;">&nbsp;<button onclick="go()">GO </button></p>


</div> 
</body>
