
  <head>
  <link rel="stylesheet" href="/static/tab-test.css">

  <script src="/static/compare.js"></script>
</head>
<body>
<h2 class="title-class" id="title">
College Comparison
</h2>
<p>Down below are some basic school stats</p>
  {% if stats %}
      <table>
          <thead>
               <tr>
                  <th>College Name</th>
                  <th>State of School</th>
                  <th>Acceptance Rate</th>
                  <th>Graduation Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat[1] }}</td> 
                        <td>{{ stat[0] }}</td> 
                        <td>{{ stat[3] }}</td> 
                        <td>{{ stat[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No data available for the selected colleges.</p>

    {% endif %}
</body>
