<html>
<head>
    <link rel="stylesheet" href="/static/final.css">
    
    <script src="/static/final.js"></script>
    
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {font-family: Tahoma;}

</style>
  
<body>
  
<h3><center>CollegeFind</center></h3>
  
<div class="topnav">
  <a href="/">Home</a>
  <a href="/rankings">Ranking</a>
  <a class="active" href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popularmajor">Popular Major</a>
  <a href="/map">Map</a>
</div>

<h2>College Comparison</h2>
<p>Down below are some basic school stats</p>
  <center>{% if stats %}
      <table>
          <thead>
               <tr>
                  <th>College Name</th>
                  <th>State of School</th>
                  <th>Acceptance Rate</th>
                  <th>Graduation Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat[1] }}</td> 
                        <td>{{ stat[0] }}</td> 
                        <td>{{ stat[3] }}%</td> 
                        <td>{{ stat[4] }}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
      </center>
        <p>No data available for the selected colleges.</p>

    {% endif %}
    <br>

<center><button class="submit-button" onclick="newSearch('/compare')">New Search</button></center>
</body>
</html>
