<head>
  <link rel="stylesheet" href="/static/final.css">

  <script src="/static/final.js"></script>
</head>
<head>
<style>

</style>
</head>
<body>

<h2><center>Rankings</center></h2>

<p><center>Sorted by {{title}}</center></p>

<div class="container">
 {% for school, state, rate in stats %}
  <div class="box">
  <img src="/static/images/{{ school | replace(' ', '_') }}.jpg" alt="{{ school }} Image" class="school-image">
    <div class="school-info">
 <strong>{{loop.index}}. {{school}}, {{state}} <br><br>{{title}} {{head}}{{rate}}{{tail}}</strong></div></div>
 {% endfor %}

</div>
<br>
 <button>New Search</button>
</body>
