<head>
  <link rel="stylesheet" href="/static/final.css">

  <script src="/static/final.js"></script>
</head>

<body>
  <h2>CollegeFind</h2>
  
  <div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/rankings">Ranking</a>
    <a href="/compare">Compare</a>
    <a href="/financialaid">Estimate Your Financial Aid</a>
    <a href="/popularmajor">Popular Major</a>
  </div>

<h3>Rankings</h3>

<p><Sorted by {{title}}</p>

<div class="container">
 {% for school, state, rate in stats %}
  <div class="box">
  <img src="/static/images/{{ school | replace(' ', '_') }}.jpg" alt="{{ school }} Image" class="school-image">
    <div class="school-info">
 {{loop.index}}. {{school}}, {{state}} <br><br><strong>{{title}} {{head}}{{rate}}{{tail}}</strong></div></div>
 {% endfor %}

</div>
<br>
<center><button onclick="newSearch('/rankings')">New Search</button></center>
  <br>
</body>
