 <head>
  <link rel="stylesheet" href="/static/final.css">

  <script src="/static/final.js"></script>
</head>

<body>

 <h2>CollegeFind</h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a class="active" href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popMajor">Popular Major</a>
</div>
  
<b>Your Estimated Financial Aid </b>
{% if aid %}
 <p>The expected financial aid amount is ${{ aid }} at {{colleges}}</p>
 {% else %}
 <p>No financial aid information is available for this college or income range</p>
 {% endif %}
<br>
 
 <button class="submit-button" onclick="newSearch('/financialaid')">New Search</button>
</body>
