<html>
<head>
    <link rel="stylesheet" href="/static/final.css">
    
    <script src="/static/final.js"></script>
    
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {font-family: Tahoma;}

</style>
  
<body>
  
<h2><center>CollegeFind</center></h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a href="/rankings">Ranking</a>
  <a class="active" href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popularmajor">Popular Major</a>
  <a href="/map">Map</a>
</div>

<h3 style="text-align: center;">Compare</h3>
<p style="text-align: center;">Compare two schools.</p>
  
<p class="center-para" style="text-align: center;">Select a college 1 here:<select id="college1" onchange="updateCollege()">option>{{DropdownOptions|safe}}</select>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  Select college 2 here:<select id="college2" onchange="updateCollege()">{{DropdownOptions|safe}}</select>
</p>
<p class="center-para" style="text-align: center;">You selected this college from the Drop Down: <b id="college1Show">   </b></p>
<p class="center-para" style="text-align: center;">You selected this college from the Drop Down: <b id="college2Show">   </b></p>
<p class="center-para" style="text-align: center;"><b>&nbsp;<button class="submit-button" onclick="submitCompare()">GO</button></b></p>
    
</body>
</html>
