<html>
<head>
    <link rel="stylesheet" href="/static/final.css">
    
    <script src="/static/final.js"></script>
    
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {font-family: Tahoma;}

</style>
  
<body>
  
<h2><center>CollegeFind</center></h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a class="active" href="#FinancialAid">Estimate Your Financial Aid</a>
  <a href="/popularmajor">Popular Major</a>
</div>
    
<center><h3>Calculate Possible Financial Aid</h3></center>
   <center><p>Based on the data collected by ___, who recorded past student tuitions. No guareentee :)</p></center>
     
     <center><p> My household income is: </p>
     <center><select name="income" id="income" onchange="updateFinancialAid()">
           <option value="null">--</option>
           <option value="f0to30grand">less than 30k</option>
           <option value="f30to48grand">30k to 48k</option>
           <option value="f48to75grand">48k to 75k</option>
           <option value="f75to110grand">75k to 110k</option>
           <option value="f110grandup">more than 110k</option>
        </select></center>
             <center><p class="invisible"> <b id="incomeText"> ____ </b></p></center>
     
     <center><p>The college I am interested in is:</p></center>
        <center><select id="colleges" onchange="updateFinancialAid()">
             {{DropdownOptions|safe}}
        </select></center>
        <center><p class="invisible"> <b id="collegeText"> ____ </b></p></center>
  <center><b><button onclick="submitFinancialAid()">Submit</button></b></center>    
    <br>
     </div>

</body>
</html>
