<html>
<head>
    <link rel="stylesheet" href="/static/final.css">
  
    <script src="/static/final.js"></script>
  
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {font-family: Tahoma;}

</style>
  
<body>
  
<h2><center>CollegeFind</center></h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popularmajor">Popular Major</a>
</div>

<h3><center>Rankings (according to U.S. News Report)</center></h3>
 
<p><center>Filter by: </center></p>
   <center><select name="rate" id="rate" onchange="updateRanking()">
      <option value="null">--</option>
      <option value="acceptrate">Acceptance Rate</option>
      <option value="gradrate">Graduation Rate</option>
      <option value="tuition">Tuition Cost</option>
   </select></center>
   <p class="invisible"> <b id="rateText"> ____ </b></p>     

<p><center>Sort by: </center></p>
   <center><select name="lowhigh" id="lowhigh" onchange="updateRankings()">
      <option value="null">--</option>
      <option value="asc">Lowest to Highest</option>
      <option value="desc">Highest to Lowest</option>
   </select></center>
<p class="invisible"> <b id="lowhighText"> ____ </b></p>
<b><center><button onclick="submitRankings()">Submit</button></center></b>

</body>
</html>
