<html>
    <head>
        <link rel="stylesheet" href="/static/final.css">
        
        <script src="/static/final.js"></script>
        
    </head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
    body {font-family: Tahoma;}
    
    </style>
  
<h2><center>CollegeFind</center></h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a class="active" href="/popMajor">Popular Major</a>
</div>

<h3>Most Popular Major at Every College</h3>
   <p>Which colleges' most popular major fits with your desired major?</p>
     <p> The major I am interested in is: </p>
        <select id="major" onchange="updateMajor()">
           <option value="null">--</option>
           <option value="Biology">Biology</option>           
           <option value="Business">Business</option>
           <option value="Chemistry">Chemistry</option>
           <option value="Computer Science">Computer Science</option>
           <option value="Economics">Economics</option>
           <option value="English">English</option>
           <option value="Engineering">Engineering</option>
           <option value="Mathematics">Mathematics</option>
           <option value="Multidisciplinary">Multidisciplinary</option>
           <option value="Music">Music</option>
           <option value="Political Science">Political Science</option>
           <option value="Psychology">Psychology</option>
        </select>
     <p class="invisible"> <b id="majorText"> ____ </b></p>
     <b><button onclick="submitMajor()">Submit</button></b>
     <br>
</body>
</html>
