<html>
<head>
  <link rel="stylesheet" href="/static/final.css">

  <script src="/static/final.js"></script>

</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  body {font-family: Tahoma;}

</style>

<body>
  
<h2>CollegeFind</h2>
  
<div class="topnav">
  <a class="active" href="#Home">Home</a>
  <a href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popularmajor">Popular Major</a>
</div>

<div style="padding-left:16px">
  <div class="containerHome">
    <p> </p>
  <img src="/static/images/home-pic.jpg" alt="Home Picture" style="width:100%;">
    <div class="position">
      <div class="text"><strong>Home</strong> <br><br>Our website works with the top fifty colleges according to the "2024 Best National Liberal Arts Colleges" ranking by U.S. News & Report. 
        Data is from 2021, sourced from DATAUSA. Thank you!</div>
</div>
  </div>
</div>

</body>
</html>
