<html>
    <head>
        <link rel="stylesheet" href="/static/final.css">
        
        <script src="/static/final.js"></script>
        
    </head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
    body {font-family: Tahoma;}
    
    </style>
  
<h2><center>CollegeFind</center></h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a class="active" href="/popMajor">Popular Major</a>
</div>

<h2><center>Explore Popular Majors</center></h2>

<p><center>{{major}} is the most popular major at these colleges: </center></p>

 <div class="container">
 {% for school, state in stats %}
  <div class="box">
  <img src="/static/images/{{ school | replace(' ', '_') }}.jpg" alt="{{ school }} Image" class="school-image">
    <div class="school-info">
 <strong> {{school}}, {{state}}</strong></div></div>
 {% endfor %}
</div>
 
<br>
 <button>New Search</button>
</body>
</html>
