<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
  
<body>
  
<h2><center>CollegeFind</center></h2>
  
<div class="topnav">
  <a class="active" href="#Home">Home</a>
  <a href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popmajor">Popular Major</a>
</div>

<div style="padding-left:16px">
  <p> </p>
  <div class="containerHome">
  <img src="/static/images/home-pic.jpg" alt="Home Picture" style="width:100%;">
    <div class="position">
      <div class="text"><strong>Home</strong> <br><br>Based on the data proved by the U.S. News Report, we have created a website exploring the top 50 liberal arts schools. Thank you!</div>
</div>
  </div>
</div>

</body>
</html>
