<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
  
<body>
  
<h2><center>CollegeFind</center></h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popularmajor">Popular Major</a>
</div>

<h3>Rankings (according to U.S. News Report)</h3>
 
<p> Filter by: </p>
   <select name="rate" id="rate" onchange="updateRanking()">
      <option value="null">--</option>
      <option value="acceptrate">Acceptance Rate</option>
      <option value="gradrate">Graduation Rate</option>
      <option value="tuition">Tuition Cost</option>
   </select>
   <p class="invisible"> <b id="rateText"> ____ </b></p>     

<p>Sort by:</p>
   <select name="lowhigh" id="lowhigh" onchange="updateRankings()">
      <option value="null">--</option>
      <option value="asc">Lowest to Highest</option>
      <option value="desc">Highest to Lowest</option>
   </select>
<p class="invisible"> <b id="lowhighText"> ____ </b></p>
<b><button onclick="submitRankings()">Submit</button></b>

</body>
</html>