<head>
<style>
body {font-family: Tahoma;}
</style>
</head>

<body>

<h2 class="title-class" id="title">
CollegeFind
</h2>
<p>Explore the top 50 liberal arts colleges!</p>

<div class="tab">
   <button class="tablinks" onclick="openTab(event, 'Home')">Home</button>
   <button class="tablinks" onclick="openTab(event, 'Ranking')">Ranking</button>
   <button class="tablinks" onclick="openTab(event, 'Compare')">Compare</button>
   <button class="tablinks" onclick="openTab(event, 'Estimate Your Financial Aid')">Estimate Your Financial Aid</button>
   <button class="tablinks" onclick="openTab(event, 'Popular Major')">Popular Major</button>
</div>

<div id="Home" class="tabcontent">
   <h3>Home</h3>
   <p>Based on the data proved by the U.S. News Report, we have created a website exploring the top 50 liberal arts schools. Thank you!</p>
</div>

<div id="Ranking" class="tabcontent">
  <h3><center>Rankings (according to U.S. News Report)</center></h3>
 
     <p> Filter by: </p>
        <select name="rate" id="rate">
           <option value="null">--</option>
           <option value="0">Acceptance Rate</option>
           <option value="30">Graduation Rate</option>
           <option value="48">Tuition Cost</option>
        </select>
     <br>
     
     <p>Sort by:</p>
        <select name="low-high" id="low-high">
           <option value="null">--</option>
           <option value="low">Lowest to Highest</option>
           <option value="high">Highest to Lowest</option>
        </select>
     <br><br>
     <button onclick="getInput('rate', 'low-high')">Submit</button>
     <br>
  </div>
  

<div id="Compare" class="tabcontent">
<h3 style="text-align: center;">Compare</h3>
<p style="text-align: center;">Compare two schools.</p>
  


<p class="center-para" style="text-align: center;">Select a college 1 here:<select id="college1" onchange="updateCollege()">{{DropdownOptions|safe}}</select>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  Select college 2 here:<select id="college2" onchange="updateCollege()">{{DropdownOptions|safe}}</select>
</p>
<p class="center-para" style="text-align: center;">You selected this college from the Drop Down: <b id="college1Show"> Unknown </b></p>
<p class="center-para" style="text-align: center;">You selected this college from the Drop Down: <b id="college2Show"> Unknown</b></p>
<p class="center-para" style="text-align: center;"><b>&nbsp;<button onclick="go()">GO</button></b></p>

</div>

<div id="Estimate Your Financial Aid" class="tabcontent">
   <h3>Calculate Possible Financial Aid</h3>
   <p>Based on the data collected by ___, who recorded past student tuitions. No guareentee :)</p>
     
     <p> My household income is: </p>
        <select name="income" id="income">
           <option value="null">--</option>
           <option value="0">less than 30k</option>
           <option value="30">30k to 48k</option>
           <option value="48">48k to 75k</option>
           <option value="75">75k to 110k</option>
           <option value="110">more than 110k</option>
        </select>
     <br>
     
     <p>The college I am interested in is:</p>
        <select name="colleges" id="colleges">
           <option value="null">--</option>
           <option value="Amherst">Amherst College</option>
           <option value="Barnard">Barnard College</option>
           <option value="Bates">Bates College</option>
           <option value="Berea">Berea College</option>
           <option value="Bowdoin">Bowdoin College</option>
           <option value="Bryn">Bryn Mawr College</option>
           <option value="Bucknell">Bucknell College</option>

        </select>
     <br><br>
     <button onclick="getInput('income', 'college')">Submit</button>
     <br>
     </div>
     
<div id="Popular Major" class="tabcontent">
<h3>Most Popular Major at Every College</h3>
   <p>Which colleges' most popular major fits with your desired major?</p>
     <p> The major I am interested in is: </p>
        <select name="major" id="major">
           <option value="null">--</option>
           <option value="economics">Economics</option>
           <option value="sql">options thru sql/sort by alphbetical</option>
        </select>
     <br><br>
    
     <button onclick="getInput('major')">Submit</button>
     <br>
     </div>

</body>
