 <head>
  <link rel="stylesheet" href="/static/aimee-test.css">

  <script src="/static/aimee-test.js"></script>
</head>

<body>

<h2>Explore Popular Majors</h2>

<p>{{major}} is the most popular major at these colleges: </p>

 <div class="container">
 {% for school, state in stats %}
  <div class="box">
  <img src="/static/images/{{ school | replace(' ', '_') }}.jpg" alt="{{ school }} Image" class="school-image">
    <div class="school-info">
 <strong> {{school}}, {{state}}</strong></div></div>
 {% endfor %}
</div>
 
<br>
 <button>New Search</button>
</body>
