 <head>
  <link rel="stylesheet" href="/static/aimee-test.css">

  <script src="/static/aimee-test.js"></script>
</head>
<head>
<style>
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px; 
  margin: 20px;
}

.box {
  background-color: #CBC3E3;
  border: 15px #CBC3E3;
  padding: 50px;
  flex: 1 1 calc(33.333% - 40px); /* three boxes per row with gap accounted for */
  box-sizing: border-box;
}
</style>
</head>
<body>

<h2>Explore Popular Majors</h2>

<p>The colleges with your chosen major as the most popular</p>

<div class="container">
  <div class="box">Carleton College, MN</div>
  <div class="box">Harvard University, MA</div>
  <div class="box">Stanford University, CA</div>
  <div class="box">Massachusetts Institute of Technology, MA</div>
  <div class="box">University of California, Berkeley, CA</div>
  <div class="box">University of Oxford, UK</div>
</div>

</body>
