<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Tahoma;}

</style>
</head>
<body>

<h2 class="title-class" id="title">
CollegeFind
</h2>
<p>Explore the top 50 liberal arts colleges</p>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Home')">Home</button>
  <button class="tablinks" onclick="openTab(event, 'Ranking')">Ranking</button>
  <button class="tablinks" onclick="openTab(event, 'Compare')">Compare</button>
</div>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is the capital city of England.</p>
</div>

<div id="Ranking" class="tabcontent">
  <h3><center>Rankings (according to U.S. News Report)</center></h3>
  <div class="dropdown" onmouseover="dropDownFunction('rankingDropdown')" onmouseout="closeDropDownFunction('rankingDropdown')">
  <button class="dropbtn">Filter by</button>
  <div id="rankingDropdown" class="dropdown-content">
    <button onclick="filterBy('acceptrate', 'max')"><a>Acceptance Rate (High)</a></button>
    <button onclick="filterBy('acceptrate', 'min')"><a>Acceptance Rate (Low)</a></button>
    <button onclick="filterBy('gradrate', 'max')"><a>Graduation Rate (High)</a></button>
    <button onclick="filterBy('gradrate', 'min')"><a>Graduation Rate (Low)</a></button>
  </div>
  </div> 
  
  <div class="dropdown" onmouseover="dropDownFunction('rankingDropdown')" onmouseout="closeDropDownFunction('rankingDropdown')">
  <button class="dropbtn">Estimate my Financial Aid</button>
  <div id="moneyDropdown" class="dropdown-content">
    <p>
    <center>My household income is:</center>
    </p>
      <button onclick="filterBy('acceptrate', 'max')"><a>Less than 30k</a></button>
      <button onclick="filterBy('acceptrate', 'min')"><a>Between 30k and 48k</a></button>
      <button onclick="filterBy('gradrate', 'max')"><a>Between 48k and 75k</a></button>
      <button onclick="filterBy('gradrate', 'min')"><a>Between 75k and 110k</a></button>
      <button onclick="filterBy('gradrate', 'min')"><a>More than 110k</a></button>
    </div>
  </div> 
</div>

<div id="Compare" class="tabcontent">
  <h3>Compare</h3>
  <p>Compare is the capital of Japan.</p>
</div>
   
</body>
