<head>
  <link rel="stylesheet" href="/static/aimee-test.css">

  <script src="/static/aimee-test.js"></script>
</head>
<head>
<style>
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px; 
  margin: 20px;
}

.box {
  background-color: #CBC3E3;
  border: 15px #CBC3E3;
  padding: 50px;
  flex: 1 1 calc(33.333% - 40px); /* three boxes per row with gap accounted for */
  box-sizing: border-box;
}
</style>
</head>
<body>

<h2>Rankings</h2>

<p>{{rate}} for colleges by high low </p>

<div class="container">
 {% for school, state, rate in stats %}
 <div class="box">{{loop.index}}. {{school}}, {{state}} <br>{{rate}}%</div>
 {% endfor %}
</div>
<br>
 <button>New Search</button>
</body>
