<html>
<head>
    <link rel="stylesheet" href="/static/final.css">
  
    <script src="/static/final.js"></script>
  
</head>
<style>
body {font-family: Tahoma;}
    
.circle {
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 50%;
}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
  
<body>
  
<h2>CollegeFind</h2>
  
<div class="topnav">
  <a href="/">Home</a>
  <a href="/rankings">Ranking</a>
  <a href="/compare">Compare</a>
  <a href="/financialaid">Estimate Your Financial Aid</a>
  <a href="/popularmajor">Popular Major</a>
  <a class="active" href="/map">Map</a>
</div>

<h3>Location of the Colleges</h3>

<div class="containerHome">
    <img src="/static/images/USmap.jpg" alt="Map of the Colleges" usemap="#collegeMap" style="width:80%;">
    <div class="circle"></div>

<map name="collegeMap">
  <area shape="circle" coords="0,0,82,126" alt="Pomona College">
  <area shape="circle" coords="90,58,3" alt="Carleton College">
</map>
    <div class="circle"></div>
</div>
    
    
</body>
</html>
